{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <style>
      * {
        box-sizing: border-box;
      }

      body {
        font-family: Arial, Helvetica, sans-serif;
      }

      /* Style the header */
      header {
        background-color: #666;
        padding: 30px;
        text-align: center;
        font-size: 35px;
        color: white;
      }
    </style>
  </head>
  <body>
    <header>
      <h2>Fullthrottle lab User Activity</h2>
    </header>
    {% block content %}
      {% for member in members %}
        <div class="col-md-12" style="text-align:center">
        </div>


                      {% for key,value in member.iteritems %}
                            <h5><b>{{key}} : </b> {{value}} </h5>
                            <table>
                              <tr>
                                <th>Start Time</th>
                                <th>End Time</th>
                              </tr>
                              <tr>
                                <td>January</td>
                                <td>$100</td>
                              </tr>
                              <tr>
                                <td>February</td>
                                <td>$80</td>
                              </tr>
                            </table>
                      {% endfor %}
                  {% endfor %}
                </div>

    {% endblock %}
    <footer style="background-color: rgb(28, 28, 28);padding:2em 0;margin-top:1em;">
      <p class="text-center" style="margin-bottom:0;color:#fff">FullThrottle Lab</p>
    </footer>
    <!-- Custom scripts for this template -->
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/particles.min.js' %}" ></script>
    <script src="{% static 'script.js' %}"></script>

  </body>

</html>
